<h1>Generator#create</h1>
<p>Find me in app/views/generator/create.html.erb</p>

<% if @status %>
	<p>Выполнение произошло без ошибок</p>
<% else %>
	<p>Произошла ошибка: <%= @exception %></p>
<% end %>
